<div class="container" >
    <div class="row">

        <div class="col-md-12">

            <div class="card mt-5">
                <div class="card-body">
                    <div class="dropdown mx-3 " dropdown>
                        <button  class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                    </div>   
                    <div class="dropdown mx-3" dropdown>
                        <button  class="btn btn-secondary  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1" >
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>   

                   Atlikti darbai:
                   <div class="progress mt-5">
                       <div class="progress-bar"  progressBar [value]="atliktaDarbo" [color]="'bg-info'"></div>
                   </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>

