<div class="col-md-12">
    <div class="card">
        <div class="card-header">Prekių sandėlys</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="card mt-3" *ngFor="let category of warehouseData">
                        <div class="card-header">
                            {{ category.name }}
                        </div>
                        <div class="card-body">
                            <app-products (orderEmitter)="onOrder($event)" [products]="category.products"></app-products>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header">Pridėti naują kategoriją</div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="" class="form-label">Kategorijos pavadinimas</label>
                                <input type="text" class="form-control" #categoryName>
                            </div>
                            <button class="btn btn-success" (click)="addCategory()">Pridėti</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    


</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">Sandėlio likutis:</div>
        <div class="card-body">
            <div *ngFor="let category of warehouseData">
                {{ category.name}}:
                <span *ngFor="let product of category.products">{{ product.name }}: {{ product.count }}, </span>
            </div>


        </div>
    </div>
</div>

<div class="col-md-12 mt-3">
<div class="card">
    <div class="card-header">Užsakymai {{ orders.length }}</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of orders">{{ item }}</li>
        </ul>
    </div>
</div>

</div>