<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 class="text-center"> Skaičiuoklės</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="list-group">
            <a routerLink="/" class="list-group-item list-group-item-action" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Informacija</a>
            <a routerLink="/kelimas-kvadratu" class="list-group-item list-group-item-action" routerLinkActive="active">Kėlimas kvadratu</a>
            <a routerLink="/staciakampio-plotas" class="list-group-item list-group-item-action" routerLinkActive="active">Stačiakampio plotas</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
       <router-outlet></router-outlet>
    </div>


  </div>

</div>