<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5">
                <div class="card-header">Komenarų sistema</div>
                <div class="card-body">
                 
                    <ul class="list-group" *ngIf="!loading" >
                        <li class="list-group-item" *ngFor="let komentaras of komentarai" spalvink [selectedColor]="'green'">
                            <i class="bi bi-star-fill" *ngFor="let zvaigzdute of [].constructor( '4'*1 )" ></i>
                            
                            
                            <br><br> 
                            <b >{{ komentaras.email }}: </b>
                            {{komentaras.text}}
                        </li>
                    </ul>
                    
                    <div class="alert alert-info" *ngIf="loading && !error" >Kraunasi ...</div>
                    <div class="alert alert-danger" *ngIf="error">
                        <h1>Įvyko klaida</h1>
                        <p>{{ error }}</p>
                    </div>
                    
                    <hr>
                    <div class="mb-3">
                        <label class="form-label">Jūsų el. paštas</label>
                        <input type="text" name="email" class="form-control" #email>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Jūsų komentaras</label>
                        <input type="text" name="komentaras" class="form-control" #text>
                    </div>
                    <button class="btn btn-success" (click)="send(email.value,text.value)">Siųsti</button>
                </div>
            </div>
        </div>
    </div>
</div>